name: Labeler

on: workflow_dispatch

permissions:
  actions: read
  contents: read
  security-events: write
  pull-requests: write

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v5.3.0
        with:
          skip-delete: true
